body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bug-submit-container {
    position: relative;
}

.bug-submit-form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 20px;
    padding: 10px;
}

.bug-title {
    width: 500px;
    margin-bottom: 10px;
}


.submit-btn {
    margin-top: 10px;
}

.queue-container {
    width: 500px;
}
